.custom-input-container {
    position: relative;

    .input-effect {
        float: left;
        width: 100%;
        margin: 40px 3%;

        &.has-content + label {
            top: -18px;
            left: 0;
            font-size: 12px;
            color: #4caf50;
            transition: 0.3s;
        }
    }

    .effect {
        font: 15px/24px "Lato", Arial, sans-serif;
        color: #333;
        width: 100%;
        box-sizing: border-box;
        letter-spacing: 1px;

        &:focus {
            outline: none;
        }
    }

    .focus-border {
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #4caf50;
            transition: 0.3s;
        }

        &:after {
            top: auto;
            bottom: 0;
            left: auto;
            right: 0;
        }

        i:before,
        i:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 0;
            background-color: #4caf50;
            transition: 0.4s;
        }

        i:after {
            left: auto;
            right: 0;
            top: auto;
            bottom: 0;
        }
    }

    label {
        position: absolute;
        left: 14px;
        width: 100%;
        top: 10px;
        color: #aaa;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
    }
}